.menu
  .btn-list(ng-show='widgetTabs.getCount()')
    a.btn(tooltip='查找', ng-click='widgetTabs.find()')
      span.glyphicon.glyphicon-search
    a.btn(tooltip='保存', ng-click='widgetTabs.save()')
      span.glyphicon.glyphicon-floppy-disk
  .btn-list.right
    a.toggle-preview(ng-click='widgetPreviewer.toggle()')
      span.glyphicon.glyphicon-phone

