include ./mixins.jade

.container-fluid
  .row
    .menu
      .btn-list
        a.btn(title='查找')
          span.glyphicon.glyphicon-search
            |  
        a.btn(title='保存')
          span.glyphicon.glyphicon-floppy-disk
            |  

    //- 这里需要显示各种不同的可修改内容，
    //- 需要思考一下